:root {
  --customColor: #0044FF;
  --purple: #CE00FF;
  --orange: #FF4600;
  --blue: #0044FF;
  --cyan: #03FFC7;
  --white: #fff;
  --black: #222;
  --primaryColor: #fff;
  --secondaryColor: #212121;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

body.dark {
  --primaryColor: #000106;
  --secondaryColor: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* 
=================
Header
=================
*/
.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* 
=================
Navigation
=================
*/
.navigation {
  height: 6rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
}
.nav-center .logo span {
  color: var(--customColor);
}
.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-center .nav-item:last-child {
  cursor: pointer;
}
.nav-center .nav-item:last-child i {
  font-size: 2rem;
  color: var(--black);
}
.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
.nav-center .nav-link:hover {
  color: var(--customColor);
}
.nav-center .hamburger,
.nav-center .theme {
  display: none;
  font-size: 2.3rem;
  color: var(--secondaryColor);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 10%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondaryColor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 0%;
    max-width: 35rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }
  .nav-list.open {
    left: 0;
    width: 100%;
  }
  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }
  .nav-list .nav-item:last-child {
    display: none;
  }
  .nav-list .nav-item .nav-link {
    font-size: 2rem;
    color: var(--primaryColor);
  }

  .nav-center .hamburger,
.nav-center .theme {
    display: block;
  }
}
/* 
=================
Hero Area
=================
*/
.hero {
  height: calc(100vh - 6rem);
  overflow: hidden;
}
.hero .left,
.hero .right {
  flex: 0 0 50%;
  max-width: 50%;
}
.hero .right {
  padding-right: 15rem;
}
.hero .right .img-box {
  position: relative;
  max-width: 50rem;
  height: 50rem;
  display: block;
  margin: auto;
  background-color: var(--customColor);
  border-radius: 50%;
}
.hero .right .img-box img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  border-radius: 50%;
  width: 60rem;
}
.hero .left {
  padding-left: 12rem;
}
.hero .left h1 {
  font-size: 7rem;
  line-height: 1.3;
}
.hero .left h1 span {
  color: var(--customColor);
}

@media only screen and (max-width: 1200px) {
  .hero .right {
    padding-right: 5rem;
  }
  .hero .left {
    padding-left: 10rem;
  }
  .hero .left h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 996px) {
  .hero .right .img-box {
    max-width: 35rem;
    height: 35rem;
  }
  .hero .right .img-box img {
    width: 100%;
  }
  .hero .left {
    padding-left: 5rem;
  }
  .hero .left h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding: 5rem 0;
    flex-direction: column;
  }
  .hero .right {
    width: 100%;
    padding: 0;
  }
  .hero .left {
    padding-left: 0rem;
  }
}
@media only screen and (max-width: 567px) {
  .hero .right {
    flex: 1;
    max-width: 80%;
  }
  .hero .right .img-box {
    max-width: 40rem;
    height: 100%;
  }
  .hero .right .img-box img {
    width: 100%;
  }
  .hero .left {
    flex: 1;
    max-width: 100%;
  }
  .hero .left h1 {
    font-size: 4.5rem;
  }
}
.control {
  position: fixed;
  right: -4rem;
  top: 15%;
  transition: all 300ms ease-in-out;
  z-index: 1000;
}
.control.open {
  right: 0;
}
.control .widget {
  position: absolute;
  left: -3.4rem;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem 0.7rem;
  margin-right: 0.1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: #fff;
  text-align: center;
}
.control .widget i {
  font-size: 2rem;
  animation: spin 2s linear infinite;
  color: var(--black);
}
.control .colors {
  background-color: var(--white);
  padding: 1rem 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.control .colors span {
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.7rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.control .colors span:not(:last-child) {
  margin-bottom: 0.7rem;
}
.control .colors span:first-child {
  background-color: var(--blue);
}
.control .colors span:nth-child(2) {
  background-color: var(--orange);
}
.control .colors span:nth-child(3) {
  background-color: var(--purple);
}
.control .colors span:nth-child(4) {
  background-color: var(--cyan);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.social-icons {
  position: absolute;
  bottom: 1%;
  left: 5%;
}
.social-icons .icon {
  cursor: pointer;
  margin-right: 1rem;
}
.social-icons .icon i {
  font-size: 2.5rem;
  color: var(--secondaryColor);
}

@media only screen and (min-width: 996px) {
  .social-icons {
    left: 10%;
    bottom: 4%;
  }
}
.section {
  overflow-x: hidden;
  padding: 10rem 0 5rem 0;
}

.title {
  text-align: center;
  padding-bottom: 10rem;
}
.title h1 {
  display: inline-block;
  font-size: 4rem;
  position: relative;
  padding-bottom: 1rem;
}
.title h1::after {
  content: "";
  background-color: var(--customColor);
  width: 40%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about .right,
.about .left {
  flex: 0 0 50%;
}
.about .left div {
  width: 25rem;
  height: 25rem;
  background-color: var(--customColor);
  border-radius: 50%;
  margin: auto;
}
.about .left div img {
  width: 100%;
  max-width: 25rem;
  display: block;
}
.about .right h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.about .right h3 {
  font-size: 2rem;
  color: var(--customColor);
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.about .right p {
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .title {
    padding-bottom: 5rem;
  }
  .title h1 {
    font-size: 3.5rem;
  }

  .about-center {
    flex-direction: column-reverse;
  }
  .about-center .left,
.about-center .right {
    flex: 0;
  }
  .about-center .left div {
    width: 20rem;
    height: 20rem;
  }
  .about-center .left div img {
    max-width: 20rem;
  }
  .about-center .right {
    text-align: center;
    margin-bottom: 5rem;
  }
  .about-center .right h1 {
    font-size: 3rem;
  }
  .about-center .right p {
    width: 70%;
    margin: auto;
  }
}
.skills .skills-center .right img {
  max-width: 40rem;
  width: 100%;
  height: 50rem;
  margin-right: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.skills .skills-center .left {
  flex: 0 0 50%;
  max-width: 50%;
  margin-left: 6%;
}
.skills .skills-center .left .top,
.skills .skills-center .left .bottom {
  margin-bottom: 3rem;
}
.skills .skills-center .left .top h2,
.skills .skills-center .left .bottom h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.skills .skills-center .left .top .cards,
.skills .skills-center .left .bottom .cards {
  flex-wrap: wrap;
}
.skills .skills-center .left .top .cards .card,
.skills .skills-center .left .bottom .cards .card {
  border: 1px solid var(--secondaryColor);
  border-radius: 0.5rem;
  width: 12rem;
  height: 3.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.skills .skills-center .left .top .cards .card:not(:last-child),
.skills .skills-center .left .bottom .cards .card:not(:last-child) {
  margin-right: 0.8rem;
}
.skills .skills-center .left .top .cards .card:hover,
.skills .skills-center .left .bottom .cards .card:hover {
  background-color: var(--customColor);
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .skills .skills-center {
    flex-direction: column;
  }
  .skills .skills-center .left {
    flex: 1;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .skills .skills-center .right img {
    max-width: 30rem;
    height: 40rem;
    margin-right: 0;
  }
}
.portfolio-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem 3rem;
  padding: 0 5rem;
}
.portfolio-center .card {
  overflow: hidden;
}
.portfolio-center .card .img-holder {
  width: 30rem;
  height: 25rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.portfolio-center .card .img-holder::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 100%;
  border-radius: 2rem;
  z-index: 1;
  transition: all 500ms ease-in-out;
}
.portfolio-center .card .img-holder img {
  object-fit: cover;
  width: 30rem;
  height: 25rem;
  border-radius: 2rem;
  display: block;
  margin: auto;
  z-index: 0;
}
.portfolio-center .card .img-holder span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--white);
  z-index: 2;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.portfolio-center .card .img-holder:hover::after {
  top: 0;
}
.portfolio-center .card .img-holder:hover span {
  visibility: visible;
}

@media only screen and (max-width: 567px) {
  .portfolio-center {
    gap: 3rem;
    padding: 0;
  }
}
.contact-center .left,
.contact-center form {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-center .left img {
  width: 100%;
  max-width: 35rem;
  display: block;
  margin: auto;
}
.contact-center form {
  display: flex;
  flex-direction: column;
}
.contact-center form input,
.contact-center form textarea {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  max-width: 35rem;
  width: 100%;
  margin-bottom: 1.5rem;
  color: var(--black);
  text-indent: 2rem;
  padding: 1.3rem 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .contact-center {
    flex-direction: column;
  }
  .contact-center .left,
.contact-center form {
    flex: 1;
    max-width: 100%;
  }
  .contact-center form {
    max-width: 70rem;
    width: 100%;
    margin-top: 3rem;
  }
  .contact-center form input,
.contact-center form textarea {
    max-width: 60rem;
    margin: 0 auto 1.5rem auto;
  }
}
footer {
  padding: 2rem 0;
  background-color: var(--black);
}
footer p {
  font-size: 1.8rem;
  color: var(--white);
  text-align: center;
}
footer p span {
  color: var(--customColor);
}

/*# sourceMappingURL=styles.css.map */
